<div class="mt-4">
    <form method="GET" action="">
        <div class="mb-3">
            <label for="search-input" class="form-label">Search box</label>
            <input type="text" name="q" class="form-control" id="search-input" placeholder="Type here...">
        </div>

        <button type="submit" class="btn btn-dark">Search</button>
    </form>
</div>